@charset "UTF-8";
header {
    background-color: rgba(0,0,0,0.80);
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: rgba(251,251,251,1.00);
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

body {
    margin-left: 0px;
    margin-right: 0px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
    color: rgba(255,255,255,1.00);
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 7px;
}
main {
    background-color: rgba(240,240,240,1.00);
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.40);
    width: 70%;
    float: left;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
footer {
    background-color: rgba(0,0,0,0.80);
    padding-top: 30px;
    padding-bottom: 40px;
    color: rgba(255,255,255,1.00);
}
ul {
    padding-left: 0px;
    list-style-type: none;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.social-icons {
    float: left;
    margin-left: 10px;
}
.copyright {
    float: right;
    width: 280px;
    margin-right: 10px;
}
.package-list-elem {
    display: table-row;
}
.burger-menu {
    width: 60px;
    float: left;
    margin-top: -57px;
    margin-left: 5px;
}
nav {
    float: left;
}
.button {
	width: 165px;
	background-color: rgba(202,202,202,1.00);
    text-align: center;
    margin-top: 1px;
    padding: 20px 0px 20px 0px;
	font-size: 20px;
}
.button-active {
	width: 175px;
	background-color: rgba(255,145,30,1.00);
}

.help-videos {
	max-width: 90px;
	display: inline-block;
	background-color: #DB6A6C;
	min-height: 103px;
}

h3{
	text-align: center;
}

.NewProjectDialog{
  background : rgba(240, 240, 240, 1);
  border-radius : 16px;
  box-shadow : 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.row{
	margin: 10px 0px 10px 0px;
}

.button-dlg {
    display: inline-block;
    background : rgba(245, 145, 30, 1);
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48%;
    text-align: center;
    margin-left : auto;
    margin-right : auto;
    cursor : default;
    margin: 1px;
    
}

.button-dlg-disabled{
    /*background-color: rgba(240,240,240,1.00);*/
    background : rgba(245, 145, 30, 0.6);
    color:  rgba(255, 255, 255, 0.6);
}

#btn-cancel {
    background-color: rgba(240,240,240,1.00);
}
textarea {
    font-size: 12pt;
    width: 95%;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
}
.dlg {
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 16px;
    border-width: 1px;
    background-color: rgba(215,215,215,1.00);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 1.0);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
input {
    font-size: 16pt;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.container:after {
    clear: both;
    display: block;
    content: "";
}
.group-box {
    margin: auto 2px auto 2px;
    float: left;
    border: 1px solid rgba(0,0,0,0.50);
    border-radius: 5px;
}

.list-item{
    background-color: rgba(215, 215, 215, 1.0);
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
    margin-top: 7px;
    margin-bottom: 7px;
}
.more-btn {
    width: 30px;
    float: right;
    margin-right: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.add-btn{
    margin-top: 2px;
    margin-right: 10px;
    padding: 2px;
    width: 25px;
    float: right;
    cursor: default;
}

.hdr{
    margin: 2px 0px 2px 0px;
}

.hdr:after{
    clear: both;
    display: block;
    content: '';
}

.proj-list-header{
    display: inline;
    max-width: 50%;
}